p {
  text-align: center;
}
i {
  padding: 5px 5px;
}
.container h1 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 20px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app-wrapper .weather-app {
  margin: 30px auto;
}
.logo {
  max-width: 20%;
  position: static;
  margin: 0 auto;
  left: auto;
  right: auto;
  display: block;
}
.tempone {
  font-size: 10px;
  font-weight: 300;
}
#descriptionone {
  text-transform: capitalize;
}
.text-muted {
  font-size: 70%;
}
.card-header {
  padding: 10px 10px;
}
.card-text {
  margin-bottom: 12px;
}
.card-body {
  text-align: center;
}
.icon {
  max-width: 20%;
  display: block;
  margin: 0 auto;
  color: #17a2b8;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
